<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>foolay</title>
</head>

<body>
    <div class="hero is-primary">
        <div class="hero-body">
            <p class="title"><a href="/">foolay</a></p>
            <p class="subtitle">a minimal, forward-only <a
                    href="https://github.com/nostr-protocol/nostr">Nostr</a> relay.</p>
        </div>
    </div>
    <div class="container is-fluid mt-4">
        <h2 class="subtitle">How to use</h2>
        <div class="content">
            <ol>
                <li>Simply connect to this relay and send events to it or simply listen to them!</li>
            </ol>
        </div>
        <h2 class="subtitle">Source Code</h2>
        <p>You can find it at <a href="https://github.com/piraces/fo-relay">github.com/piraces/fo-relay</a></p>
        <p>Upstream source code at <a href="https://github.com/phyro/fo-relay">github.com/phyro/fo-relay</a></p>
    </div>
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>foolay (original named fo-relay)</strong> original work by <a href="https://github.com/phyro">phyro</a> modifications by <a href="https://piraces.dev">piraces</a>. The source code is
                <a href="https://github.com/piraces/fo-relay/blob/main/LICENSE">MIT</a> licensed. Keep the good vibes 🤙
            </p>
        </div>
    </footer>
</body>

</html>